/* Data viewer */
.json-container .json-key {
    color: var(--md-code-fg-color);
}

.json-container .json-size {
    color: var(--md-code-hl-number-color);
}

.sd-card {
    border: 1px solid var(--md-typeset-color);
}
.border {
    border: 1px solid var(--md-typeset-color);
}
.sd-card-header {
    border-bottom: 1px solid var(--md-typeset-color);
}